<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novel_backend.dao.mapper.BookChapterMapper">

    <select id="listChapters" resultType="com.example.novel_backend.dao.entity.BookChapter">
        select id, chapter_name, word_count
        from book_chapter
        where book_id = #{bookId}
        order by chapter_num
    </select>

</mapper>